header{
    height: 65px;
}

aside {
    height: calc(100vh - 65px);
    /* min-height: -webkit-fill-available; */
    /* max-height: 100vh; */
    overflow-x: auto;
    overflow-y: hidden;
    position: fixed;
    z-index: 1;
  }
  

body {
    font-family: 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: -webkit-fill-available;
    /* overflow-y: hidden; */
    background-color: #f0f0f0;
}
body:lang(zh) {
    font-family: 'Microsoft JhengHei', sans-serif;
}

span:lang(en) {
    font-family: 'Times New Roman', serif;
}

span:lang(zh) {
    font-family: 'Microsoft JhengHei', sans-serif;
}

section {
    margin: 15px;
}

h2 {
    color: #333;
}

p {
    line-height: 1.6;
}

ul, ol {
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}