body {
  height: 100%;
  min-height: -webkit-fill-available;
  /* overflow-y: hidden; */
} 

aside {
  height: calc(100vh - 65px);
  /* min-height: -webkit-fill-available; */
  /* max-height: 100vh; */
  overflow-x: auto;
  overflow-y: hidden;
  position: fixed;
  z-index: 1;
}

header{
  height: 65px;
}

#whiteboard-border {
  height: calc(100vh - 65px);
  max-width: calc(100vw - 3.5rem);
  margin-left: 3.5rem;
  margin-top: auto;
  overflow: auto;
  border: 2px solid black;
}

#whiteboard{
  height: 2000px;
  width: 2000px;
  /* background-color: coral; */
  z-index: 0;
}

#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}

#offcanvasScrolling_chat{
  margin-left: 3.5rem;
  margin-top: 65px;
  z-index: 0;
}

#offcanvasScrolling_script{
  margin-left: 3.5rem;
  margin-top: 65px;
  z-index: 0;
}

#script_editor{
  height: 100%;
  width: 100%;
}