<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>小教程視窗</title>
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/icons/font/bootstrap-icons.min.css" rel="stylesheet">
        <link href="/static/css/henry.css" rel="stylesheet">
        <script src="/static/js/bootstrap.bundle.min.js"></script>
    </head>

    <header>
        <div class="container-fluid bg-body-tertiary">
            <div class="d-flex flex-wrap align-items-center justify-content-between py-3 border-bottom">
                <div>
                    <a class="navbar-brand" href="#">
                        <i class="bi bi-database" style="font-size: 1.5rem;"> UR sql helper</i>
                    </a>
                </div>
        
                <div>
                    <span class="navbar-text">簡單的介紹</span>
                </div>
        
                <div class="dropdown text-end">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="img rounded-circle" src="{{user['picture']}}" style="width: 2rem;">
                    </a>
                    <ul class="dropdown-menu text-small">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/logout">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>



    <section>
        <h2 lang="en">ER Diagram</h2>
        <p lang="zh"><span lang="en">ER Diagram</span>是一種圖形化工具，用於描述資料庫中實體<span lang="en">（Entity）</span>之間的關係。它由實體、屬性和關係三個主要元素組成。</p>
        <ul>
            <li>實體:</li><p>料庫中可以識別的事物，如人、地點、物品等。每個實體都有屬性，這些屬性描述了實體的特徵。</p>
            <li>屬性:</li><p>實體的特徵或特性。例如，一個人實體的屬性可能包括姓名、年齡、地址等。</p>
            <li>關係:</li><p>描述了不同實體之間的連接。它可以是一對一、一對多或多對多的關係。</p>
        </ul>
    
    </section>

    <section>
        <h2>設計ER Diagram</h2>
        <ol>
            <li>識別實體：</li>
            <li>確定關係：</li>
            <li>繪製ER Diagram：</li>
            <li>優化設計：</li>
        </ol>
    </section>

</html>
